.wood-plaques-container1 {
  width: 100%;
  min-height: 100vh;
}
 
.wood-plaques-container2 {
  display: none;
}
 
.wood-plaques-container3 {
  display: contents;
}
 
.wood-plaques-image {
  display: none;
}
 
.wood-plaques-thq-back-link-elm {
  text-decoration: none;
}
 
.wood-plaques-thq-btn-shimmer-elm {
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  position: absolute;
  animation: shimmer 3s infinite;
  transform: skewX(-25deg);
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2), transparent);
}
 
.wood-plaques-container4 {
  display: none;
}
 
.wood-plaques-container5 {
  display: contents;
}
 
.wood-plaques-container6 {
  display: none;
}
 
.wood-plaques-container7 {
  display: contents;
}
